body {
    margin:25px;
}

td {
    vertical-align:top;
}

.layout > tbody > tr > td {
    padding:1em;
}

ul {
    margin-left:-20px;
}

.menu {
    font-size:12px;
}

.header {
    background-color:#A6DCFD;
    padding:.2em .5em;
}

.logs {
    font-size:10px;
}

table.logs {
    border-spacing: 0px;
    border-collapse: separate;
}

table.layout {
    border-spacing: 0px;
    border-collapse: separate;
}

td.logs {
    padding: 0px;
}
